<h1>Welcome Pirates!</h1>

<form method ="POST" action="/pirates">
  <h2>Pirate</h2>
  <label for="name">Pirate name:</label>
  <input type="text" id="name" name="pirate[name]">
  <label for="weight">Pirate weight:</label>
  <input type="text" id="weight" name="pirate[weight]">
  <label for="height">Pirate height:</label>
  <input type="text" id="height" name="pirate[height]"><br>
  
  <h2>Ships</h2>
  <label for="ship_1">Name</label>
  <input type="text" id="ship_1" name="pirate[ships][][name]"><br>
  <label for="ship_1_type">Type</label>
  <input type="text" id="ship_1_type" name="pirate[ships][][type]"><br>
  <label for="ship_1_booty">Type</label>
  <input type="text" id="ship_1_booty" name="pirate[ships][][booty]"><br>
  
  <label for="ship_2">Name</label>
  <input type="text" id="ship_2" name="pirate[ships][][name]"><br>
  <label for="ship_2_type">Type</label>
  <input type="text" id="ship_2_type" name="pirate[ships][][type]"><br>
  <label for="ship_2_booty">Type</label>
  <input type="text" id="ship_2_booty" name="pirate[ships][][booty]"><br>
  <input type="submit" value="Submit">
  
</form>
